footer {
    padding-top: 168px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 72px;
}

.footer__container {
    padding-top: 47px;
    padding-bottom: 47px;
    background-color: #2C343E;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer__list {
    display: flex;
    gap: 33px;
}

.footer__pages {
    color: #83888F;
    font-family: 'Barlow', serif;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.923px;
    text-transform: uppercase;
}

.footer__icon {
    display: flex;
    gap: 24px;
}

@media (max-width:860px) {
    .footer__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer__list {
        margin-top: 32px;
    }

    .footer__icon {
        margin-top: 65px;
    }

    footer{
        padding-top: 144px;
    }
}

@media (max-width:600px) {
    .footer__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .footer__item {
        margin: 0;
    }
    footer{
        padding-top: 120px;
    }
}