.hero {
    padding-top: 44px;
}

.hero__block {
    max-width: 1280px;
    background-repeat: no-repeat;
    background-image: url(/images/hero-d.jpg);
    background-size: cover;
    padding-top: 134px;
    padding-bottom: 134px;
    padding-left: 85px;
}

.hero__title {
    color: #FEFCF7;
    font-family: 'Fraunces', serif;
    font-size: 72px;
    line-height: 72px;
    margin-bottom: 32px;
}

.hero__text {
    max-width: 445px;
    color: #FEFCF7;
    font-family: 'Barlow', sans-serif;
    font-size: 16px;
    line-height: 26px;
}

@media screen and (max-width: 850px) {
    .hero__block{
        padding-top: 127px;
        padding-bottom: 127px;
        padding-left: 58px;
        background-image: url(/images/hero-t.jpg);
        border-radius: 10px;
    }
    .hero__title{
        font-size: 48px;
        line-height: 48px;
        margin-bottom: 24px;
    }
    .hero__text{
        max-width: 398px;
        font-size: 15px;
    }

}

@media screen and (max-width:530px) {
    .hero__block{
        padding-top: 101px;
        padding-bottom: 101px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 0;
        background-image: url(/images/hero-m.jpg);
        border-radius: 10px;
    }

    .hero__title{
        text-align: center;
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 22px;
    }

    .hero__text{
        text-align: center;
        max-width: 279px;
        font-size: 15px;
    }

}