.info {
    padding-top: 168px;
}

.info__block {
    padding-top: 115px;
    padding-bottom: 100px;
    background-color: #2C343E;
    border-radius: 10px;
    padding-left: 85px;
}

.info__pages {
    max-width: 760px;
    height: 2px;
    border: 2px solid #FDD6BA;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 82px;
}

.info {
    padding-top: 200px;
}

.info__title {
    color: #fff;
    font-size: 24px;
    font-family: 'Fraunces', serif;
    line-height: 32px;
    margin-bottom: 80px;
}

.info__number {
    color: #FDD6BA;
    font-family: 'Fraunces', serif;
    font-size: 72px;
    font-weight: 900;
    line-height: 72px;
    margin-bottom: 38px;
}

.info__sub {
    max-width: 255px;
    color: #fff;
    font-family: 'Fraunces', serif;
    font-size: 32px;
    font-weight: 900;
    line-height: 36px;
    margin-bottom: 38px;
}

.info__line {
    max-width: 31px;
    width: 100%;
    height: 31px;
    border: 1px solid #0E8784;
    border-radius: 50%;
    background-color: transparent;
}

.info__list {
    display: flex;
    gap: 95px;
    align-items: center;
}

.info__text {
    max-width: 285px;
    color: #fff;
    font-family: 'Barlow', serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

@media screen and (max-width: 1170px) {
    .info__block {
        padding-left: 40px;
    }

    .info__pages {
        max-width: 467px;
    }

    .info__title {
        margin-top: 0;
    }

    .info__text {
        max-width: 223px;
    }

    .info__list {
        gap: 10px;
    }
}

@media screen and (max-width:800px) {
    .info__container{
        background-color: #2C343E;
    }
    
    .info__block {
        padding-left: 0;
    }

    .info__list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 40px;
        // flex-direction: column;
        // align-items: center;
    }

    .info__pages,
    .info__line {
        display: none;
    }

    .info__text {
        text-align: center;
    }

    .info__item {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .info__sub {
        text-align: center;
    }

}

@media screen and (max-width:600px){
        .info__sub {
        font-size: 28px;
        max-width: 327px;
        width: 100%;
        text-align: center;
    }

    .info__number {
        text-align: center;
    }

    .info__text {
        max-width: 327px;
        margin-bottom: 56px;
        text-align: center;
    }

    .info__list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    
}